<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thkim.diary">

    <application>
        <activity
            android:name=".DiaryActivity"
            android:theme="@style/Theme.AndroidStandardLevel.NoActionBr">

        </activity>

        <activity
            android:name=".DiaryMainActivity"
            android:theme="@style/Theme.AndroidStandardLevel.NoActionBr">

        </activity>
    </application>

</manifest>