<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thkim.diary">

    <application>
        <activity
            android:name=".DiaryActivity"
            android:theme="@style/Theme.AndroidStandardLevel.NoActionBr">

        </activity>

        <activity
            android:name=".DiaryMainActivity"
            android:theme="@style/Theme.AndroidStandardLevel.NoActionBr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>