<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.terry.webviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_webviewer">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:usesCleartextTraffic="true"> <!-- clear Text 사용 옵션(http 를 지원하는 옵션) -->
        <activity android:name=".WebViewerMainActivity">

        </activity>
    </application>

</manifest>